/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.detail {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.detail__img {
  width: 100%;
}
.detail__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .detail { text-align: center;
  }

}
.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}
.add-task__text,.item__label,.item__text
 {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-task__wrapper {
  display: flex;
}
#incomplete-task
{
  margin: 0;
  padding: 0;
}
.item, .title {
  list-style: none;
}
.add-task__text,.add-task__button,.item__checkbox,.item__text,.item__button {
  outline: none;
}
.add-task__button,.item__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  vertical-align: middle;
}
.add-task__button:hover,.item__button:hover {
  color: #3a3a3a;
}
/* Heading */
.title,.add-task__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0px 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-task__text,.item__text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.add-task__text:focus,.item__text:focus {
  color: #333;
}

/* New Task */
.add-task__label {
  display: block;
  margin: 0px 0px 20px;
}
#new-task {
  width: 318px;
}

/* Task list */
.item {
  overflow: hidden;
  padding: 20px 0px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.item__checkbox {
  margin: 0px 10px;
}
.item__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.item__text {
  width: 226px;
}
.item__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.item__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.item__label--completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.item__text {
  display: none;
}

.item--edit-task .item__text {
  display: inline-block;
  width: 224px;
}

.item--edit-task .item__label {
  display: none;
}

#completed-task {
  margin: 0;
  padding: 0;
}